@charset "utf-8";

/*Stylings for Footer*/

footer {
  background-color: transparent;
  color: var(--white);
  font-family: var(--trio);
  font-size:1vw;
  padding: 15px;
  text-align: right;
  font-size: 0.9rem;
  margin-top: auto;

    box-sizing: border-box;
  width: 100vw; 
  overflow-x: hidden; 
}

/*Footer Responsive */

@media (max-width: 768px) {

footer {

  font-size: 1vh;
}

}

